<mat-toolbar color="primary">
  <img src="../assets/colony-unsdg.png" alt="Colony UNSDG" style="width:20%; margin-left: -16px;">
  <span class="example-spacer"></span>
  <button mat-icon-button (click)="openBottomSheet()">
    <mat-icon aria-label="Meta">notes</mat-icon>
  </button>
  <a mat-icon-button href="https://github.com/fuguefoundation/truffle-colony-unsdg" target="_blank">
    <mat-icon aria-label="Github">code</mat-icon>
  </a>
</mat-toolbar>

<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step>
    <form>
      <ng-template matStepLabel>Welcome</ng-template>
      <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="goals-header-image"></div>
            <mat-card-title>Develop the humanitarian</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Combining the governance model of Colony and the ideals of the UN Sustainable Development Goals, we created a TruffleBox during the ETHDenver 2019 hackathon that empowers developers to be both humanitarians and coders. The dapp is a developer starter kit that shows how to harness the project management capabilities of Colony to incentivize, organize, and govern the work needed to tackle the UNSDGs.</p>
            <p>The <strong>Colony Network client</strong> has just been created and assigned your main account as owner. Next we need to create or assign a native token so that workers can earn payouts and reputation.</p>
            <p></p><mat-icon aria-label="Meta">notes</mat-icon> Click the menu icon for address information.
          <div>
            <button mat-raised-button color="primary" matStepperNext>Begin</button>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </mat-step>
    <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Create Token</ng-template>
      <mat-card>
        <!-- <mat-card-header>Create Token <span *ngIf="model.token.name">: {{model.token.name}} {{model.token.symbol}}</span></mat-card-header> -->
        <mat-card-content>
          <p>Every colony has its own token. These are the tokens that, when earned as a task bounty, also create reputation for the receiver.</p>
          <p>What these tokens represent apart from this is up to the colony to establish. For example, they may have financial value, or they may be purely symbolic.</p>
          <mat-form-field>
            <input matInput placeholder="Token Name" #tokenName formControlName="firstCtrl">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Token Symbol" #tokenSymbol formControlName="firstCtrl">
          </mat-form-field>
          <div>
            <button mat-raised-button color="accent" matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" matStepperNext (click)="token(tokenName.value, tokenSymbol.value)">Create Token</button>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>
        Create Colony
      </ng-template>
      <mat-card>
        <!-- <mat-card-header>Create Colony and Get Colony Cient</mat-card-header> -->
        <mat-card-content>
          <p>Colonies exist to enable collaboration between their members, and direct collective efforts towards some common goal(s). A colony is in control of changing the supply of its own tokens.</p>
          <p>Here we assign the token we just created to the Colony, but this address could be any token or ERC20.</p>
          <mat-form-field class="long-input-field">
            <input matInput placeholder="Token Address" value="{{model.token.address}}" #tokenAddress formControlName="secondCtrl">
          </mat-form-field>
          <div>
            <button mat-raised-button color="accent" matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" matStepperNext color="primary" (click)="createColony(tokenAddress.value)">Create Colony</button>
          </div>          
        </mat-card-content>
      </mat-card>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Add Domain</ng-template>
      <mat-card >
          <mat-card-content>
            <p>Of course, without structure, a large colony could quickly become difficult to navigate due to the sheer number of tasks —– domains solve this problem.  A domain is like a folder in a shared filesystem, except instead of containing files and folders, it can contain sub-domains and tasks.This simple modularity enables great flexibility as to how an organisation may be structure.</p>
            <p>Here, the 17 UN Sustainable Development Goals are used as an example of a domain level division of work to be accomplished with the colony.</p>        
          </mat-card-content>
          <mat-divider></mat-divider>
        <mat-card-header>
                <div mat-card-avatar class="goals-header-image"></div>
                <mat-card-title>{{selectedDomain.name}}</mat-card-title>
                <mat-card-subtitle>{{selectedDomain.desc}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
      <div>
        <button mat-raised-button color="accent" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext (click)="addDomain()">Add Domain</button>
      </div>
    </form>
    <app-domains></app-domains>
  </mat-step>
  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Create Task</ng-template>
      <mat-card>
          <mat-card-content>
            <p>The smallest structural unit in a colony is the ‘task’. A task represents a unit of work requiring no further subdivision or delegation. A task has three roles (addresses) associated with it (manager, evaluator, worker) that will accomplish the parameters of the task.</p>
            <p>Using the UNSDG selected as the domain, a sample task is listed here that is one of the UN's targets for this specific goal.</p>
          </mat-card-content>
          <mat-divider></mat-divider>  
          <mat-card-header>
                <div mat-card-avatar class="goals-header-image"></div>
                <mat-card-title>{{selectedDomain.name}}</mat-card-title>
                <mat-card-subtitle>{{selectedDomain.desc}}</mat-card-subtitle>
            </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <input matInput placeholder="Task Title" value="{{model.task.title}}" formControlName="fourthCtrl" #taskTitle>
          </mat-form-field>
          <mat-form-field style="width:800px;">
            <textarea matInput placeholder="Task Description" value="{{model.task.desc}}" formControlName="fourthCtrl" #taskDesc></textarea>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Domain ID" value="{{model.domain.id}}" formControlName="fourthCtrl" #domainId>
          </mat-form-field>
          <div>
            <button mat-raised-button color="accent" matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" matStepperNext (click)="createTask(taskTitle.value, taskDesc.value, domainId.value)">Create Task</button>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <div class="row">
        <div class="col-6">
            <mat-card style="max-width: 60%;">
                <mat-card-content>
                    <p>The task has been created! Read the <a href="https://colony.io/whitepaper.pdf" target="_blank">White Paper</a> or check out the <a href="https://docs.colony.io/" target="_blank">Colony docs</a> for where to go from here.</p>
                </mat-card-content>
                <mat-card-header>
                    <div mat-card-avatar class="goals-header-image"></div>
                    <mat-card-title>{{selectedDomain.name}}</mat-card-title>
                    <!-- <mat-card-subtitle>{{goal.desc}}</mat-card-subtitle> -->
                </mat-card-header>
                <img mat-card-image src="{{selectedDomain.img}}" alt="{{selectedDomain.name}}">
                <mat-card-content>
                    <p>
                    {{selectedDomain.desc}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a mat-raised-button href="{{selectedDomain.link}}" target="_blank">More Info</a>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-6">
            <mat-card *ngIf="model.taskObject">
                <mat-card-header>
                    <div mat-card-avatar class="goals-header-image"></div>
                    <mat-card-title>{{model.task.title}}</mat-card-title>
                    <!-- <mat-card-subtitle>{{goal.desc}}</mat-card-subtitle> -->
                </mat-card-header>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            <strong>Due Date</strong>: {{model.taskObject.dueDate | date}}
                        </mat-list-item>
                        <mat-list-item>
                            <strong>Completion Date</strong>: {{model.taskObject.completionDate}}
                        </mat-list-item>
                        <mat-list-item>
                            <strong>Status</strong>: {{model.taskObject.status}}
                        </mat-list-item>
                        <mat-list-item>
                            <strong>ID</strong>: {{model.taskObject.id}}
                        </mat-list-item>
                        <mat-list-item>
                            <strong>Pot ID</strong>: {{model.taskObject.potId}}
                        </mat-list-item>
                        <mat-list-item>
                            <strong>Skill ID</strong>: {{model.taskObject.skillId}}
                        </mat-list-item>
                        <mat-list-item>
                            <strong>Payments Cannot Make</strong>: {{model.taskObject.paymentsWeCannotMake}}
                        </mat-list-item>                        
                        <mat-list-item>
                            <strong>Specification Hash</strong>: {{model.taskObject.specificationHash}}
                        </mat-list-item>
                        <mat-list-item>
                            <strong>Deliverable Hash</strong>: {{model.taskObject.deliverableHash}}
                        </mat-list-item>
                    </mat-list>   
                </mat-card-content>
            </mat-card>
        </div>
    </div><!-- end row -->
    <div>
      <button mat-raised-button color="accent" matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" (click)="reset(stepper)">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<app-tx></app-tx>
<!-- <button mat-raised-button (click)="openBottomSheet()">Meta</button> -->
