<mat-nav-list>
  <a mat-list-item (click)="openLink($event)">
    <span mat-line>Account Address: </span>
    <span mat-line>{{state[0]}}</span>
  </a>

  <a mat-list-item (click)="openLink($event)">
    <span mat-line>Network Address: </span>
    <span mat-line>{{state[1]}}</span>
  </a>

  <a mat-list-item (click)="openLink($event)">
    <span mat-line>Token Address: </span>
    <span mat-line>{{state[2]}}</span>
  </a>

  <a mat-list-item (click)="openLink($event)">
    <span mat-line>Colony Address: </span>
    <span mat-line>{{state[3]}}</span>
  </a>
</mat-nav-list>